<html>
  <body>
    <form action="/register" method="post">
        <label for="email">Email</label>
        <input type="email" id="email" name="email"><br><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"><br><br>
        <label for="data">Data</label>
        <input type="data" id="data" name="data"><br><br>
        <input type="submit" value="Submit">
      </form>  
  </body>
</html>